div.col1 { width: 5.5%; }
div.col2 { width: 14%; }
div.col3 { width: 22.5%; }
div.col4 { width: 31%; }
div.col5 { width: 39.5%; }
div.col6 { width: 48%; }
div.col7 { width: 56.5%; }
div.col8 { width: 65%; }
div.col9 { width: 73.5%; }
div.col10 { width: 82%; }
div.col11 { width: 90.5%; }
div.col12 { width: 100%;  }

/* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }